/* Position in center if parent */

@mixin absCenter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* MEDIA QUERY MANAGER */

@mixin respond($breakpoint){
    @if $breakpoint == small {
        @media only screen and (max-width : $bp-small){ @content };   // 600px /16px
    }
     @if $breakpoint == meduim {
        @media only screen and (max-width : $bp-meduim){ @content };   // 900px /16px
    }
     @if $breakpoint == large {
        @media only screen and (max-width : $bp-large){ @content };      // 1300px /16px
    }
     @if $breakpoint == xlarge {
        @media only screen and (min-width : $bp-xlarge){ @content };   // 1800px /16px
    }
}

/* SUPPORTS MIXINS */

@mixin supportsClipPath{
     @supports ( -webkit-clip-path: polygon(0 0 )) or (clip-path: polygon(0 0)){
        @content;
    }
}

@mixin supportsBackgroundClip{
     @supports (-webkit-background-clip: text) or (background-clip: text){
        @content;
    }
}