.artist{    
    grid-column: center-start /center-end;
    padding-top:15rem;

    //Add grid to artist sction 
    display: grid;   
    grid-template-rows: min-content 1fr;
    grid-template-columns:repeat(2, 1fr) ;
    justify-content: center;
    align-items: center;
    grid-gap:2rem;

    //Change margins to move behind sections
    margin-top:-12rem;
    margin-bottom: -26rem;

    //Add padding to bottom and change margin 
    @include respond(medium){
          padding-bottom: 13rem;
          margin-bottom: -20rem;         
    }

    //Remove padding and margin and change columns
    @include respond(small){             
        padding-bottom: 0;
        margin-bottom: 0;
        grid-template-columns:1fr min-content ;
    }
    
    //change to 1 column and 3 rows
    @include respond(xsmall){             
        grid-template-columns:min-content ;
        grid-template-rows: min-content 1fr min-content;
    }

    //change padding and column to 100%
    @include respond(xxsmall){   
        margin-top:0;
        padding: 5rem .5rem;
        grid-template-columns: 100% ;           
    }

    //Artist text styles
    &__text{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
        padding:2rem 1rem;
        align-self:start;
        justify-self:start;
        
        //Move text up 
        @include respond(large){
            margin-top: -10rem;       
         }

         //Remove top margin
         @include respond(medium){
            margin-top: 0;               
         }

        //Add text to 2 columns
        @include respond(small){
            grid-column: 1/span 2; 
        }

        //change back to 1 column
        @include respond(xsmall){             
            grid-column: 1/span 1;            
        }
    }

    //Include social icons
    @include socialIcon(2rem);

    //Artist select styles
    &__select{
        align-self: start;
        display:flex;        

        //Show on side of image on small screens
        @include respond(small){
            grid-column: 2/span 1;
            grid-row: 2/span 1;   
            flex-direction: column;   
            align-self: center;
        }

        //Show on bottom of xsmall screens 
        @include respond(xsmall){  
             justify-content:center;        
            grid-column: 1/span 1;    
            grid-row: 3/span 1;    
            flex-direction:row;                  
        }
        
        //wrap content on xxsmall screens
        @include respond(xxsmall){                   
            flex-wrap: wrap;  
            flex-grow: 2;
        }
      
        //Text on image styles
        &--shape{             
            position: relative;
            overflow: hidden;
            cursor: pointer;
            margin-right: 2rem;
            //Show text on hover
            &:hover .artist__select--caption{
                opacity: 1;
                transform: translate(-50%,-50%);
            }

            //Blur image on hover
            &:hover .artist__select--img{
                filter: blur(.3rem) brightness(70%);
            }
        }

        //Artist select images
        &--img{
            height: 15rem;
            transition: filter .5s;      
            backface-visibility: hidden;
        }

        //Artist select names styles
        &--caption{
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,30%);
            color:$color-white;
            text-transform: uppercase;
            font-size: 1.7rem;
            text-align: center;
            opacity: 0;
            transition: all .5s;   
            backface-visibility: hidden;        
        }        
    }

    //Artist main picture styles
    &__picture{  
        grid-column: 2 /span 1;
        grid-row: 1 /span 2;           
        width: 100%;        
        padding: 1.5rem;
        position: relative;
        transition: all .5s;

        //Change position on small screens
        @include respond(small){
            grid-column: 1/span 1;
            grid-row: 2/span 1;   
            flex-direction: column;   
        }        

        //Artist image styles
        &--img{                  
            width: 100%;
            transition :all .3s;
            transform: translateY(-10rem);
            z-index: -100;  

            //changes for medium screens
            @include respond(medium){          
                transform: translateY(-5rem);      
                display: block;                
                object-fit: cover;     
            }

            //change for small screens
            @include respond(small){
                transform: translateY(0);
            }            
        }

        //Style artist name to display on picture
        &--name{
            position: absolute;
            top:0;
            left:-2rem;
            padding:1rem 2rem;
            font-size: 1.8rem;            
            text-transform: uppercase;
            color:$color-grey-dark-1;
            border: 5px solid $color-primary;
            border-radius: 1rem;
            background-image:linear-gradient( rgba($color-primary-light,.8), rgba($color-primary-dark,.8));
            z-index: 1;

            //More name down
            @include respond(small){
                top:10rem;
            } 

            //Move name up and remove spacing on left
            @include respond(xxsmall){
                top:2rem;
                left:0;
            }
        }        
    }       
}
