.contact{
    
    grid-column: center-start /center-end;

    display: grid;   
    grid-template-columns:repeat(2, 1fr) ;
    align-items: center;
    grid-gap:2rem;
padding-bottom: 0;
    @include respond(meduim){
            grid-template-columns:1fr ;
    }

    &__text{
        grid-column: 1/2;
        grid-row:1/2;
    
        padding:2rem 1rem;
        align-self:start;
        justify-self:start;    
        padding-bottom: 0;    
       
    }

    &__picture{
        grid-column: 2/-1;
        grid-row:1/2;        
        width: 100%;        
        padding: 1.5rem;
        position: relative;
        transition: all .5s;
        padding-bottom: 0;
        
        &--img{      
            display: block;
            width: 100%;               
            transition :all .3s;
            transform: translateY(-12rem);
            z-index: -1;  
            padding-bottom: -32rem;
            margin-bottom: -12rem;
        }
     
    }
}
