/* Contact section styles */
.contact{    
    grid-column: center-start /center-end;

    //add grid 
    display: grid;   
    grid-template-columns:repeat(2, 1fr) ;
    grid-gap:2rem;

    //Change grid to one column
    @include respond(medium){
        grid-template-columns:1fr ;
        grid-template-rows: max-content 60rem;    
        overflow: hidden;   //add to hide picture behinde text    
        padding-top: 5rem; 
    }

    //Contact text styles
    &__text{
        grid-column: 1/2;
        grid-row:1/2;    
        padding:2rem 1rem;

        //Add backgound color to hide image
       @include respond(medium){
           width: 100%;
           background-color: $color-white;
       }
    }

    //Style for list items
    &__list{
        list-style: none;
        margin: 3rem 0;                
        display: flex;
        flex-direction: column;  

        //Add margin to items
        &--item{
            margin-bottom: 1rem;     

            //add svgs to items
            &-1::before{
                @include addSvg(location-pin);
            } 

            &-2::before{
                @include addSvg(clock);
            }

            &-3::before{
                @include addSvg(old-phone);
            }
                
            &-4::before{
                @include addSvg(mail);                    
            }                           
        }  
    }

    //Style item links
     &__link{
        
        &:link,
        &:visited{
            text-decoration: none;
            color:$color-primary;
        }

        //change color on hover
        &:hover{
            color:$color-grey-dark-2;
        }
    }

    //Include social icons
    @include socialIcon(3rem);     

    //Contact picture styles
    &__picture{
        grid-column: 2/-1;
        grid-row:1/2;        

        //move to second row on medium screens
        @include respond(medium){
            grid-column:1/span 1;
            grid-row:2/span 1;         
            z-index: -100;
        }

        //Contact image styles
        &--img{      
            display: block;
            width: 100%;               
            transform: translateY(-12rem);
            z-index: -100;  

            @include supportsClipPath{
               @include imageClipBottom;
            }

            //remove translate and clip-path
           @include respond(medium){              
               transform: translateY(0); 

                @include supportsClipPath{
                    @include clearClip;
                }
            }            
        }     
    }
}
