/* Feature section styles */
.feature{
    grid-column: full-start / full-end;
    position :relative;
    padding:10rem 5rem;   
    z-index: 1;    

    //Display as flex 
    display:flex;
    flex-direction: column;  

    @include backImage(feature-back);
    @include supportsClipPath{
        @include sectionClipRight; 
    }

    //Increase padding on xlarge screens
    @include respond(xlarge){
        padding: 10rem 20rem;
    }

    //Remove padding from sides
    @include respond(large){
        padding: 10rem 0;
    }

    //decreace padding top/bottom and remove clip-path
    @include respond(medium){
         padding:5rem 0;
        
         @include supportsClipPath{
            @include clearClip;
        }        
    }

    //Remove margin on very small screens
    @include respond(xxsmall){
        margin: 0;
    }

    //Display boxes in a grid to auto fit on screen
    &__boxes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));

        //On medium screen only show 2 on row
        @include respond(medium){
            grid-template-columns: 1fr 1fr;     
        }

        //On xsmall screens make 1 column and add padding
        @include respond(xsmall){
            grid-template-columns:1fr;
            padding:1rem 10rem;
        }
        
        //change padding on xxsmall screen
        @include respond(xxsmall){
            padding:1rem 2rem;
        }
    }

    //Box styles
    &-box{
        background-color: rgba($color-white,.6);
        font-size: 1.5rem;
        margin:3rem;
        padding:2.5rem;
        text-align: center;
        border-radius: .5rem 5rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black,.15);             

        //change padding on smaller screens
        @include respond(medium){        
            padding: 5rem 2.5rem;
        }
        
        //Box Icon styles
        &__icon{        
            width: 8rem;
            margin-bottom: .5rem;
        }

        //Change position and scale when hovering box
        &:hover{
            transform: translateY(-1.5rem) scale(1.03);
        }    
    }
}
