.footer{
    grid-column: full-start / full-end;    
    background-image: linear-gradient(to right bottom ,
        rgba($color-primary-light ,1),
        rgba($color-primary-dark ,1));
    background-size: cover;    
    box-shadow: 0 -.2rem .5rem rgba($color-black,.8);    
    margin-top: -10rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
    padding: 10rem 0 5rem 0;

    @include supportsClipPath{
        -webkit-clip-path: polygon(0 80% ,100% 0 ,100% 100%, 0 100%);
        clip-path: polygon(0 80% ,100% 0 ,100% 100%, 0 100%);
    }

    @include respond(meduim){
        margin-top: 0;
        padding: 5rem 0 5rem 0;

        @include supportsClipPath{
            -webkit-clip-path: polygon(0 0 ,100% 0 ,100% 100%, 0 100%);
            clip-path: polygon(0 0 ,100% 0 ,100% 100%, 0 100%);
        }
    }
   
     &__link{
        &:link,
        &:visited{
            text-decoration: none;
            color:$color-primary-dark;
        }

        &:hover{
              color:$color-grey-dark-2;
        }
    }
}


