/* Header section styles */
.header{
    grid-row:1/2;
    grid-column: full-start / full-end;
    position :relative;
    height: 100vh;
   
    @include backImage(header-back);
    @include supportsClipPath{
        @include bottomClip;
    }

    //Position text
    &__text-box{
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
    }
}
