.services{
    grid-column: full-start / full-end;
      background-image: linear-gradient(to right bottom ,
        rgba($color-primary-light ,0.8),
        rgba($color-primary-dark ,0.8)),
        url(./img/services-back.jpg);
    background-size: cover;
    margin-top:-12rem;
    padding: 15rem 20rem  25rem 20rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    

    @include supportsClipPath{
        -webkit-clip-path: polygon(0 0 ,100% 25% ,100% 100%, 0 75%);
        clip-path: polygon(0 0 ,100% 22% ,100% 100%, 0 78%);
    }

    @include respond(large){
       padding: 15rem 5rem 25rem 5rem ;
    }

    @include respond(meduim){
        margin-top:10rem;
        padding:  5rem ;
    
        @include supportsClipPath{
            -webkit-clip-path: polygon(0 0 ,100% 0 ,100% 100%, 0 100%);
            clip-path: polygon(0 0 ,100% 0 ,100% 100%, 0 100%);
        }
    }


    &__cards{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        
        @include respond(small){
            grid-template-columns: 1fr;
            grid-gap: 2.5rem;
            justify-items: center;
            align-items: center;
        }        
    }
}