/* Services section styles */
.services{
    grid-column: full-start / full-end;
    margin-top:-12rem;
    padding: 15rem 20rem  25rem 20rem;
    z-index: 1;
    display: flex;
    flex-direction: column;    

    @include backImage(services-back);
    @include supportsClipPath{
        @include sectionClipRight;      
    }

    //change padding on larg screens
    @include respond(large){
       padding: 15rem 5rem 25rem 5rem ;
    }

    //change top margin ,padding and remove clip-path
    @include respond(medium){
        margin-top:10rem;
        padding:  5rem ;
    
        @include supportsClipPath{
            @include clearClip;
        }
    }

    ///change padding 
    @include respond(xxsmall){
        padding:15rem 0;
    }

    //display cards in grid
    &__cards{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        
        //Change grid to 1 column
        @include respond(small){
            grid-template-columns: 1fr;
            grid-row-gap: 2.5rem;
            justify-items: center;
            align-items: center;
        }        
    }
}