.testimonial{
    grid-column: full-start / full-end;
    background-image: linear-gradient(to right bottom ,
        rgba($color-primary-light ,0.8),
        rgba($color-primary-dark ,0.8)),
        url(./img/testamonial-back.jpg);
    background-size: cover;
    padding:15rem;
    padding-bottom: 25rem;
    margin-bottom: -22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     @include supportsClipPath{
        -webkit-clip-path: polygon(0 22% ,100% 0 ,100% 75%, 0 100%);
        clip-path: polygon(0 22% ,100% 0 ,100% 72%, 0 100%);
    }

    @include respond(meduim){
         
         padding:10rem 10rem;
         margin-bottom: 0;

        @include supportsClipPath{
            -webkit-clip-path: polygon(0 0 ,100% 0 ,100% 100%, 0 100%);
            clip-path: polygon(0 0 ,100% 0 ,100% 100%, 0 100%);
        }
    }
    &__box{
        font-size: 1.6rem;    
        padding: 5rem 3rem;
        border-radius: 5rem .5rem;
        background-image: linear-gradient(
        rgba($color-white ,0.5),rgba($color-primary-dark ,0.5));

        display: flex;
        flex-direction: column;
        align-items: center;
       
       
    }

    &__description{
        text-align: center;
        margin: 2rem;
    }

    &__name{
        
    }

    &__date{
        font-family: $font-Pacifoco ;
    }
}